<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <!-- Compiled and minified CSS -->
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

       <!-- Compiled and minified JavaScript -->
       <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
               
    <title>Open AI</title>
</head>
<body>
 <div class="container " style="justify-content: center; padding-top: 10%;">
 
  
  <div class="container">
    <form method="POST" action="/">
      <div>
        <label style="color: rgb(33, 202, 146);"> <h1>Ask me something :)</h1></label>
      </div>
      <div id="textarea1">
        {{ form.csrf_token }}
        {{ form.ask(class="input-field col s12") }}
      </div>
       
       
        <input type="submit" class="btn waves-effect right" value="Get Answer">
      
      <br>
      <br>
      <br>
      <br>

      <div>

      </div>
      <section>
        <div class="card indigo lighten-5" style="display: flex; ">
            {{answer}}
        </div>
        </section>
    </form>
</div>

    <script>
          $('#textarea1').val('New Text');
          M.textareaAutoResize($('#textarea1'));
    </script>

</body>
</html>

